div#fullscreen {
  z-index: 213;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
  /* transition-property: visibility, opacity, tranform;
  transition-duration: .4s, .4s, 0s;  */
  /* transition: visibility .4s linear, opacity .4s linear, transform 0s ease-in-out; */
}
div#fullscreen.show {
  opacity: 1;
  visibility: visible;
}

.fullscreen-enter {
  transform: translateX(100%);
}
.fullscreen-enter.left {
  transform: translateX(-100%);
}

.fullscreen-enter.fullscreen-enter-active {
  transform: translateX(0%);
  transition: transform .8s ease-in-out;
}

.fullscreen-exit {
  transform: translateX(0%);
}

.fullscreen-exit.fullscreen-exit-active {
  transform: translateX(-100%);
  transition: transform .8s ease-in-out;
}
.fullscreen-exit.fullscreen-exit-active.left {
  transform: translateX(100%);
  transition: transform .8s ease-in-out;
}
