.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.4em;
}

.image {
  display: block;
  width: 96vw;
  height: 100%; /* IE11 */
  padding-bottom: 1em;

  visibility: hidden;
  opacity: 0;
  transition: visibility 1.0s linear, opacity 1.0s linear;
}

.image.show {
  visibility: visible;
  opacity: 1;
}

.image-pair {
  position: relative;
}

.image1 {
  width: 100%;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
  .image {
    width: 70vw;
  }
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {
  .image {
    width: 52vw;
  }
}
@media only screen 
and (min-width: 640px) {
  .image {
    width: 40vw;
  }
}

.expand {
  display: flex;
  flex-flow: row;

  overflow: hidden;
}
.expand span {
  flex: 2;
}
.expand .image2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}