.profile {
  padding: .4em;
  padding-top: 1.4em;
}
.profile .profileImage {
  width: 90%;
  min-height: 230px;
  margin: 0 auto;

  background-image: url("./1Flower99_800t.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen
and (min-width: 768px) {
  .profile .profileImage {
    min-height: calc(50vh);
  }
}

.content {
  margin-top: 1.5em;
}
.content p:not(.by)::before {
  content: "\00a0\00a0";
}

.content p.by::after {
  content: "\00a0\00a0";
}
.content p.by {
  text-align: right;
}


/*
.profile1 .imageProfile {
  min-width: 100%;
  height: auto;
}

.profile {
  width: calc(100vw - 0.0em);
  height: calc(100vh - 7.7em);
  position: relative;

  background-image: url("./Scan7_600t.jpg");
  background-size: cover;
  animation: vertical-scroll 40s linear 1;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.profile .content {
  position: absolute;
  top: 1em;
  max-height: calc(80%);
  overflow-y: auto;
  width: 80vw;
  height: calc(40%);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.4em;
  background: rgba(253, 250, 243, 0.7);
  border-radius: .5em;
}

ul {
  margin-bottom: 0;
}

@keyframes vertical-scroll {
  from, to { background-position: 0 0; }
  50% { background-position: 0 100%; }
}

.profile:hover {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}

@media only screen
and (orientation: portrait) {
  .profile {
    animation-duration: 10s;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
}

@media only screen
and (min-width: 415px) {
  .profile {
    background-image: url("./Scan7_800t.jpg");
  }

  .profile .content {
    width: 80vw;
  }
}

.profile::before,
.profile::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;

  display: block;

  height: 20px;
  background: linear-gradient(to bottom,rgba(253,250,243,1),rgba(253,250,243,1) 30%,rgba(253,250,243,0));
}
.profile::before {
  top: 0;
}
.profile::after {
  bottom: 0;

  background: linear-gradient(to bottom,rgba(253,250,243,0),rgba(253,250,243,1) 70%,rgba(253,250,243,1));
}
*/